<style type="text/css">
	body {
		font-size: 24px;
		font-family: monospace;
		background-color: #000000;
		color: #FFFFFF;
	}

	.description {
		padding-left: 200px;
		padding-right: 200px;
		height: 85%;

	}

	.content {
		height: 85%;
	}

	#form {
		width: 400px;
		margin-right: auto;
		margin-left: auto;
		padding: none;
		margin: none;
		position: relative;

	}

	button {
		font-family: monospace;
		font-size: 24px;

	}


</style>



<div class="description">
	<p>Due to the veracious burning of fossil fuels by human beings in recent times, ocean acidification (that's a bad thing, by the way) in 2015 was at it's heighest levels in how many <strong>million</strong> years?</p>


</div>

<footer>
	<div id="form">
		<form action="/game" method="POST" name="form">
				<button id="acid1" name="action" value="200">200</button>
				<button id="acid2" name="action" value="300">300</button>
				<button id="acid3" name="action" value="400">400</button>
		</form>
	</div>
</footer>