<div class="description">
	<p>She holds the bottle out and lets go. You catch it, just. Prying the cork
		out of the bottle neck a bitter smell wafts up to you. You glance up to 
		the child, hoping her expression will give something away...but she's 
		gone.</p>
	<p>With nothing else left to do, you take a deep breath and down the strange 
		substance. Your body begins to tingle and you fear you may have made a 
		terrible mistake, but then you notice that your body has taken on the 
		same translucence as the child's. You approach one of the doors and 
		reach out to it. As you do, your hand passes straight through. With your 
		new found powers, which way will you go?</p>
</div>