$def with (name)

<div class="description">
	<p>You step into a room and find a small, slightly translucent child. There 
	is a locked door to the east, and another to the west. The girl smiles, 
	opens her hands to reveal a key in her left and a small bottle in her 
	right. Then, in hushed tones she says:</p>

	<p>Hello $name, I hope you've had a pleasant journey so far. In one hand I hold 
		the key to your salvation, in the other, your doom. I wish I could tell you 
		which was which, but only you can decide your fate.</p>





</div>	