<div class="description">
	<p>As you step into the time machine the door slams shut behind you. Noises 
		begin to sound and your vision starts to blur. Moments later the door 
		opens. The year is 2523, a historian - an expert in 21st Century history 
		- greets you with a smile. She assures you that humanity did, after many 
		struggles, break free of capitalism and centralised power structures.
		With current technology, she tells you, she can send you to any time and 
		place you desire. All you have to do is prove that you were awake in the 
		21st Century, and not just another numb, passive zombie, turning a blind 
		eye to the suffering and injustice that surrounded you.</p>

		<p>Will you take the challenge? </p>
</div>