<style type="text/css">

	body {
		font-size: 24px;
		font-family: monospace;
		background-color: #000000;
		color: #FFFFFF;
	}

	.description {
		padding-left: 200px;
		padding-right: 200px;
		height: 85%;

	}

	.content {
		height: 85%;
	}

	#form {
		width: 400px;
		margin-right: auto;
		margin-left: auto;
		padding: none;
		margin: none;
		position: relative;

	}

	button {
		font-family: monospace;
		font-size: 24px;

	}


</style>

<div class="content">

	<div class="description">
		<p>In 2015, what daily earning rate did the World Bank consider to be the 'poverty line threshold'?</p>

	</div>


	<footer>
		<div id="form">
			<form action="/game" method="POST" name="form">
					<button id="pov1" name="action" value="1.50">$1.50</button>
					<button id="pov2" name="action" value="1.90">$1.90</button>
					<button id="pov3" name="action" value="2.25">$2.25</button>
			</form>
		</div>
	</footer>
</div>