<div class="description">
	<p>		A dark closest contains 5 hats: 3 purple and 2 red. Knowing this to be 
		the case, 3 friends enter the closet and each puts on a hat, without 
		first seeing its colour. Once outside the closest, still unaware of the 
		colour of their own hat, the first friend looks at their companions and 
		declares "I do now know what colour my hat is!" The second person also 
		looks at their friends and says "I don't know what colour my hat is 
		either!" The third friend, who is blind, announces "Well I know what 
		colour my hat is."</p>
		
		<p>What colour is the third person's hat?</p>
</div>

<!-- <form action="/game" method="POST">
	<fieldset>
		<input type="radio" name="color" id="purple" value="purple">

		<label for="purple">Purple</label>

		<input type="radio" name="color" id="red" value="red">

		<label for="red">Red</label>
		
		<input type="radio" name="color" id="none" value="none" checked="checked">

		<label for="none">Other</label>

		<input id='submit' type="submit" value="GO">

	</fieldset>
</form> -->