$def with (content)
<html>
	<head>
		<title>Oddventure</title>
	</head>
	<body>

		<style type="text/css">
			body {
				font-size: 22px;
				font-family: sans-serif;
				background-color: #DDDDDD;
			}

			.description {
				margin-left: 50px;
				margin-right: 50px;

			}


		</style>	


		<div class="content">
		$:content
		</div>

	</body>
	<footer>
		<div id="form">
			<form action="/game" method="POST">
					<input id="text" type="text" name="action" autocomplete="off"> <input id='submit' type="submit" value="GO">
			</form>
		</div>
	</footer>

</html>