<style type="text/css">
	body {
		font-size: 24px;
		font-family: monospace;
		background-color: #000000;
		color: #FFFFFF;
	}

	.description {
		padding-left: 200px;
		padding-right: 200px;
		height: 85%;

	}

	.content {
		height: 85%;
	}

</style>

	<div class="content">

		<div class="description">

			<p>Armed with an ill-founded sense of legitimacy and fake intelligence about WMD's,
				on what date in March 2003 did US, UK, Australian and Polish forces instigate an
				invasion of Iraq?</p>
			<p>15th, 17th or 19th?</p>

		</div>
	</div>
	<footer>
		<div id="form">
			<form action="/game" method="POST" name="form">
					<button id="war1" name="action" value="15">15th</button>
					<button id="war2" name="action" value="17">17th</button>
					<button id="war3" name="action" value="19">19th</button>
			</form>
		</div>
	</footer>