<style type="text/css">

/*body {
	background-color: black;
	border:none;
	margin:none;
	padding:none;

}

.question {
	height: 300px;
	margin-top: 60px;
	padding: 60px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-style: italic;
	font-weight: 600;
	width:500px;
	background-color: white;
	color: black;
	font-size:30px;
	text-align: center;
	border-radius: 5%;
	border: dashed gray 4px;

}*/

</style>

<div class="content">

	<div class="question">

		<p>Armed with an ill-founded sense of legitimacy and fake intelligence about WMD's,
			on what date in March 2003 did US, UK, Australian and Polish forces instigate an
			invasion of Iraq?</p>
		<p>15th, 17th or 19th?</p>

	</div>
</div>