<style type="text/css">

	body {
		margin: 0;
		padding: 0;
		background-color: gray;

	}

	.description {
		background-color: gray;
		height: 85%;
		color: #FFFFFF;

	}

	#message {
		text-align: center;
		line-height: 35px;
		margin-left: auto;
		margin-right: auto;
		width: 600px;
		padding: 60px;
		font-size: 30px;
		background-color: #000000;
		color: #FFFFFF;
		border: dashed gray 3px;
		font-family: monospace;
	}

	

</style>

<div class="description">
	<p>	
		OK you head through the tunnel, gagging at the rancid smell and
		desperately trying to avoid the rusty, jagged metal protruding from the
		walls. You reach a grate at the far end. It takes multiple kicks to
		break it down, but finally it flies off and you climb down into a large
		room.</p>

	<p>	In it you find three doors and a spinning wheel divided into thirds.
		Next to it, a message reads:</p>

		<div id="message">
		Life is a game of chance, the throw of a dice from another's hand.
		To believe yourself master of your own universe is madness itself. 
		Yet still we persist, and so shall you....Spin the wheel my child.
		</div>

	

</div>