<style type="text/css">
	
/*	#message {
		width: 500px;
		background-color: #331919;
		color: #FFFFFF;
		padding: 50px;
		font-size: 30px;
		font-family: monospace;
		border: dashed 3px;
		margin-right: auto;
		margin-left: auto;

	} 

*/

	body {
/*		background-color: #222111;
*/
	}

</style>

<div class="content">
	<div class="description">
		<p>	
			OK you head through the tunnel, gagging at the rancid smell and
			desperately trying to avoid the rusty, jagged metal protruding from the
			walls. You reach a grate at the far end. It takes multiple kicks to
			break it down, but finally it flies off and you climb down into a large
			room.</p>

		<p>	In it you find three doors and a spinning wheel divided into thirds.
			Next to it, a message reads:</p>

		<div id="message">
			<p>
			"Life is a game of chance, the throw of a dice from another's hand.
			To believe yourself master of your own universe is madness itself. 
			Yet still we persist, and so shall you....Spin the wheel my child.""
			</p>

		</div>

	</div>
</div>