$def with (name)

<style type="text/css">

	body {
		font-size: 24px;
		font-family: monospace;
		background-color: #000000;
		color: #FFFFFF;
	}

	.description {
		padding-left: 200px;
		padding-right: 200px;
		height: 85%;

	}

	.content {
		height: 85%;
	}



</style>

<div class="description">
	<p>Yay! Check you out, winning. There's no medal, but then who needs a medal when you've got that warm, fuzzy feeling of being victorious. Just ask Napoleon. Oh. Wait.</p>

	<a href="/game">Play Again?</a>

</div>